/* banner using css only -- https://forum.obsidian.md/t/css-how-to-style-the-first-image-in-a-note/52839/ */

    /* make the div (in LP) containing the image doesn't control the css box-sizing */
    .internal-embed.image-embed[alt*="maslow-hierarchy"] { display: contents; }
    /* original forum post snippet with minor tweak */
    .obsidian-banner img[alt*="maslow-hierarchy"] {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        object-fit: cover;
        object-position: 50% 50%;
        overflow: hidden;
        user-select: none;
     }
     /* add option to adjust vertical position by adding the alt metadata "higher" or "lower" */
     .obsidian-banner img[alt*="maslow-hierarchy"][alt*="lower"] { object-position: 50% 30%; }
     .obsidian-banner img[alt*="maslow-hierarchy"][alt*="higher"] { object-position: 50% 70%; }

     /* original forum post with minor tweak to make it overlap */
     .obsidian-banner .inline-title {
         position: relative;
         padding-top: 150px;
         z-index: 1;
     }

     /* minor tweak for me, since i have snippet to make image has rounded corner */
     .obsidian-banner.is-readable-line-width img { border-radius: revert; }
     /* minor tweak for me, to hide snw block reference counter for the banner */
    .internal-embed.media-embed.image-embed.is-loaded + .snw-reference.snw-embed {display: none;}